<div class="container">
    <h1 class="mt-5">¡Bienvenido! al Calculador de</h1>
  <div class="my-3">
    <img
      src="https://cef6928242.clvaw-cdnwnd.com/2f09e45365d477e4ea1dd9e081cf9be8/200000206-015b0015b2/horizontal-negativo-5.png?ph=cef6928242"
      alt="Logo Fox Panel"
      class="logo-img"
    />
  </div>

  

  <form (ngSubmit)="onSubmit(cliente)" #cliente="ngForm">
    <label for="cliente" class="my-3">Para iniciar, ingresá el nombre del Cliente:</label>
    <input type="text" id="cliente" placeholder="Nombre del Cliente" class="form-control" name="nombreCliente" ngModel>
    <div class="my-5"><button class="btn btn-secondary" type="submit" routerLink="">Presupuestar</button></div>
  </form>
</div>
