.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30rem;    
}
.logo-img{
    background-color: #bf360c;         
    width: 30rem;    
    padding: 40px;
    border-radius: 10px;
}
.btn{
    width: 30rem;
    height: auto;
    padding: 10px;
    
    
    }